@import '../assets/base.css';

.dark-mode {
  --primary-color: #222;
  --secondary-color: #A04747;
  --accent-color: #D8A25E;
  --accent-color-light: #EEDF7A;

  --linear-gradient-text: linear-gradient(90deg, var(--secondary-color) 50%, var(--accent-color) 100%);
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
}

.dark-mode body {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}
/* Add more selectors as needed */
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode p {
  color: var(--text-color-inverse);
}
p.hero-description.dark-mode {
  color: var(--primary-color);
}