:root {
  --primary-color: #f4f4f4;
  --secondary-color: #A04747;
  --accent-color: #D8A25E;
  --accent-color-light: #EEDF7A;

  --soft-black: #343131;
  --dark-black: #1a1a1a;
  --bright-white: #ffffff;

  --linear-gradient-text: linear-gradient(90deg, var(--dark-black) 50%, var(--secondary-color) 100%);

  --font-family: System UI, sans-serif;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-small: 14px;
  --font-size-header: 30px;
  --font-size-header-lg: 40px;

  --text-color-primary: #343131;
  --text-color-secondary: #6c757d;
  --text-color-accent: #D8A25E;
  --text-color-inverse: #f4f4f4;

  --border-radius: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 9999px;
  --box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

/*CSS reset*/
/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
}

/*utility classes*/
.linear-gradient-text {
  background: var(--linear-gradient-text);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.flex-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-gap-1 {
  gap: 0.25rem;
}
.flex-gap-2 {
  gap: 0.5rem;
}
.flex-gap-3 {
  gap: 1rem;
}
.section-title {
  font-size: var(--font-size-header-lg);
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-transform: uppercase;
}
.section-title.light {
  color: var(--text-color-inverse);
}
.text-light {
  color: var(--text-color-inverse);
}
.txt-small {
  font-size: var(--font-size-small);
}
.txt-md {
  font-size: var(--font-size-normal);
}
.txt-lg {
  font-size: var(--font-size-large);
}
.bold {
  font-weight: var(--font-weight-bold);
}
.black {
  font-weight: var(--font-weight-black);
}
.italic {
  font-style: italic;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--text-color-primary);
  background-color: var(--primary-color);
  font-weight: var(--font-weight-normal);
  margin: 0;

  /*grid background*/
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 30px 30px; /* grid spacing */
}
section {
  padding-inline: 1rem;
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
}
.navbar {
  background-color: var(--secondary-color);
  color: var(--text-color-inverse);
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  border-radius: var(--border-radius-full);
  width: fit-content;
}
  .navbar-item {
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
  }
  .navbar-item:hover {
    color: var(--accent-color);
    cursor: pointer;
  }
  .navbar-item:active {
    color: var(--accent-color-light);
  }
.hero-section {
  gap: 6rem;
}
.hero-greeting {
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-normal);
}
.hero-name {
  font-size: 5rem;
  font-weight: var(--font-weight-black);
  text-transform: uppercase;
  line-height: 5rem;

}
.hero-job {
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-bold);
}
.hero-description {
  max-width: 70ch;
  margin-top: 1rem;
}
.hero-image {
  max-height: 500px;
}
.wave-transition {
  transform: rotateY(180deg);
  width: 100%;
}
.about-section {
  background-color: var(--secondary-color);
  margin-top: -4px;
  padding-bottom: 1rem;
}
.about-content {
  gap: 5rem;
  margin-block: 2rem;
}
.about-desc p {
  max-width: 70ch;
  margin-block: 1rem;
}

.about-education {
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: var(--border-radius-lg);
}
.about-education .flex-group {
  margin-top: 1rem;
}
.educ-item {
  gap: 0.25rem;
}